
.App {
    text-align: center;
    width: 100%; 
    height: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
  
  #game-container {
    margin: auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 75%;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 2px 2px 5px lightgrey;
    padding: 10px;
  }
  
  #input-row {
    width: 75% ;
  }
  
  #display-row{
    width: 75%;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }